<nav class="navbar sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 text-uppercase">emoji <span class="label">copy</span></span>
    <div class="input-group input-group-lg mb-3 mt-3">
      <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="button-addon2">
      <div class="input-group-append mr-3">
        <button class="btn btn-light btn-lg" type="button" id="button-addon2">
          <i class="material-icons d-flex">close</i>
        </button>
      </div>
      <button type="button" class="btn btn-light d-flex">
        <i class="material-icons">settings</i>
      </button>
    </div>
  </div>
</nav>

<div class="container-fluid">

  <div class="d-flex flex-wrap emoji-block">
    <ng-container *ngFor="let category of emojiData">
      <div class="sticky" [attr.data-emoji-category]="category.category"><span>{{category.title}}</span></div>
      <!--<app-popover-content #popoverTrigger>-->
      <!--#HTML TEMPLATE-->
      <!--</app-popover-content>-->
      <app-emoji-item *ngFor="let emoji of category.emojis" [emoji]="emoji"></app-emoji-item>
    </ng-container>
  </div>

</div>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="input-group input-group-lg mb-3 mt-3">
      <input type="text" class="form-control" placeholder="click emoji below or combine with text" aria-label="click emoji below or combine with text" aria-describedby="button-addon3">
      <div class="input-group-append mr-3">
        <button class="btn btn-light" type="button" id="button-addon3">
          <i class="material-icons d-flex">close</i>
        </button>
      </div>
      <button type="button" class="btn btn-success btn-lg d-flex">
        <span class="text-uppercase">Copy</span>
      </button>
    </div>
  </div>
</nav>

