.container-fluid {
  max-width: 1200px;
}

.emoji-block {
  margin-bottom: 100px;
  .sticky {
    width: 100%;
    position: sticky;
    top: 136px;
    background: #fff;
    z-index: 2;
    padding: 16px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
  }
}
